@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon53ff.eot?yklnk2');
  src:  url('fonts/icomoon53ff.eot?yklnk2#iefix') format('embedded-opentype'),
    url('fonts/icomoon53ff.ttf?yklnk2') format('truetype'),
    url('fonts/icomoon53ff.woff?yklnk2') format('woff'),
    url('fonts/icomoon53ff.svg?yklnk2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ch-play:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e949";
}
.icon-keyboard_arrow_up:before {
  content: "\e923";
}
.icon-keyboard_arrow_right:before {
  content: "\e925";
}
.icon-keyboard_arrow_left:before {
  content: "\e930";
}
.icon-keyboard_arrow_down:before {
  content: "\e944";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon13278.eot?z440o9');
  src:  url('fonts/icomoon13278.eot?z440o9#iefix') format('embedded-opentype'),
    url('fonts/icomoon13278.ttf?z440o9') format('truetype'),
    url('fonts/icomoon13278.woff?z440o9') format('woff'),
    url('fonts/icomoon13278.svg?z440o9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right-add:before {
  content: "\a900";
  font-weight: 700;
}
